In [143]:
from linearmodels.asset_pricing import LinearFactorModel
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
import statsmodels.api as sm
import matplotlib.pyplot as plt
import pandas_datareader.data as web
import seaborn as sns
import pandas as pd
import os.path
import numpy as np

START = '2010'
END = '2018'

In [144]:
prices = pd.read_csv("regression/prices-{}-{}.csv".format(START, END), parse_dates=[
    'date'], index_col=['date'], infer_datetime_format=True)

prices.index.names = ["Date"]
prices

,A,AA,AAL,AAMC,AAN,AAOI,AAON,AAP,AAPL,AAT,...,ZIOP,ZIXI,ZLC,ZLTQ,ZMH,ZNGA,ZOES,ZQK,ZTS,ZUMZ
Date,,,,,,,,,,,,,,,,,,,,,
2010-01-04,21.354133,NaN,12.394092,NaN,14.391425,NaN,5.472257,39.554636,27.503268,NaN,...,2.95,1.78,2.70,NaN,58.049747,NaN,NaN,2.24,NaN,12.36
2010-01-05,21.122172,NaN,13.797197,NaN,14.520197,NaN,5.313483,39.319541,27.550818,NaN,...,3.05,1.70,2.69,NaN,59.887376,NaN,NaN,2.19,NaN,12.29
2010-01-06,21.047125,NaN,13.225561,NaN,14.520197,NaN,5.102695,39.662387,27.112585,NaN,...,3.08,1.70,2.69,NaN,59.868033,NaN,NaN,2.19,NaN,12.68
2010-01-07,21.019836,NaN,13.615313,NaN,14.637558,NaN,5.291583,39.652592,27.062465,NaN,...,3.04,2.22,2.70,NaN,61.241419,NaN,NaN,2.21,NaN,14.66
2010-01-08,21.013013,NaN,13.355478,NaN,14.539757,NaN,5.354545,39.809321,27.242385,NaN,...,3.10,2.12,2.78,NaN,59.955078,NaN,NaN,2.23,NaN,14.73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-03-21,69.400000,47.95,54.090000,60.80,47.370000,26.71,39.050000,115.240000,171.270000,32.46,...,4.28,4.53,NaN,NaN,NaN,3.94,15.66,NaN,84.10,23.95
2018-03-22,67.470000,44.92,52.310000,60.18,45.940000,25.96,38.550000,111.710000,168.845000,32.52,...,4.19,4.52,NaN,NaN,NaN,3.81,15.27,NaN,82.06,23.35
2018-03-23,66.060000,44.71,51.010000,58.35,45.300000,25.36,37.200000,110.840000,164.940000,31.78,...,4.05,4.40,NaN,NaN,NaN,3.80,15.12,NaN,80.60,23.55
2018-03-26,68.200000,45.77,51.860000,58.60,46.230000,24.53,37.950000,114.770000,172.770000,32.22,...,4.27,4.42,NaN,NaN,NaN,3.85,15.10,NaN,83.73,24.65
2018-03-27,67.000000,44.90,50.900000,65.25,45.420000,24.60,38.000000,115.010000,168.340000,32.75,...,4.05,4.39,NaN,NaN,NaN,3.70,14.88,NaN,81.86,23.60

In [145]:
us_equities = pd.read_csv('regression/us_equities_meta_data.csv',  index_col=['ticker'])
us_equities

,name,lastsale,marketcap,ipoyear,sector,industry
ticker,,,,,,
PIH,"1347 Property Insurance Holdings, Inc.",7.2001,4.309000e+07,2014.0,Finance,Property-Casualty Insurers
PIHPP,"1347 Property Insurance Holdings, Inc.",25.6200,NaN,NaN,Finance,Property-Casualty Insurers
TURN,180 Degree Capital Corp.,2.2600,7.033000e+07,NaN,Finance,Finance/Investors Services
FLWS,"1-800 FLOWERS.COM, Inc.",12.9000,8.333900e+08,1999.0,Consumer Services,Other Specialty Stores
FCCY,1st Constitution Bancorp (NJ),21.3000,1.781400e+08,NaN,Finance,Savings Institutions
...,...,...,...,...,...,...
ZOES,"Zoe&#39;s Kitchen, Inc.",10.0700,1.974000e+08,2014.0,Consumer Services,Restaurants
ZTS,Zoetis Inc.,86.0700,4.165000e+10,2013.0,Health Care,Major Pharmaceuticals
ZTO,ZTO Express (Cayman) Inc.,20.2200,1.434000e+10,2016.0,Transportation,Trucking Freight/Courier Services
ZUO,"Zuora, Inc.",28.3200,3.040000e+09,2018.0,Technology,Computer Software: Prepackaged Software
ZYME,Zymeworks Inc.,15.3000,4.868100e+08,2017.0,Health Care,Major Pharmaceuticals

In [146]:
equities = us_equities.drop_duplicates()
equities

,name,lastsale,marketcap,ipoyear,sector,industry
ticker,,,,,,
PIH,"1347 Property Insurance Holdings, Inc.",7.2001,4.309000e+07,2014.0,Finance,Property-Casualty Insurers
PIHPP,"1347 Property Insurance Holdings, Inc.",25.6200,NaN,NaN,Finance,Property-Casualty Insurers
TURN,180 Degree Capital Corp.,2.2600,7.033000e+07,NaN,Finance,Finance/Investors Services
FLWS,"1-800 FLOWERS.COM, Inc.",12.9000,8.333900e+08,1999.0,Consumer Services,Other Specialty Stores
FCCY,1st Constitution Bancorp (NJ),21.3000,1.781400e+08,NaN,Finance,Savings Institutions
...,...,...,...,...,...,...
ZOES,"Zoe&#39;s Kitchen, Inc.",10.0700,1.974000e+08,2014.0,Consumer Services,Restaurants
ZTS,Zoetis Inc.,86.0700,4.165000e+10,2013.0,Health Care,Major Pharmaceuticals
ZTO,ZTO Express (Cayman) Inc.,20.2200,1.434000e+10,2016.0,Transportation,Trucking Freight/Courier Services
ZUO,"Zuora, Inc.",28.3200,3.040000e+09,2018.0,Technology,Computer Software: Prepackaged Software
ZYME,Zymeworks Inc.,15.3000,4.868100e+08,2017.0,Health Care,Major Pharmaceuticals

In [147]:
ff5_monthly = pd.read_csv("regression/ff_factor_data-{}-{}.csv".format(START, END), 
                          parse_dates=['Date'], 
                          index_col=['Date'])
ff_factor_data = ff5_monthly.to_period('M')
ff_factor_data

         Mkt-RF   SMB   HML   RMW   CMA    RF
Date
2010-01   -3.36  0.35  0.43 -1.23  0.44  0.00
2010-02    3.40  1.51  3.22 -0.28  1.40  0.00
2010-03    6.31  1.85  2.21 -0.63  1.67  0.01
2010-04    2.00  4.98  2.89  0.70  1.74  0.01
2010-05   -7.89  0.04 -2.44  1.27 -0.23  0.01
...         ...   ...   ...   ...   ...   ...
2018-08    3.44  0.63 -3.98 -0.29 -2.64  0.16
2018-09    0.06 -2.50 -1.70  0.67  1.28  0.15
2018-10   -7.68 -4.50  3.43  1.00  3.54  0.19
2018-11    1.69 -0.76  0.26 -0.62  0.40  0.18
2018-12   -9.55 -2.91 -1.90 -0.03  0.20  0.19

[108 rows x 6 columns]

In [148]:
ff_portfolio_data = pd.read_csv("regression/ff_portfolio_data-{}-{}.csv".format(START, END), 
                                parse_dates=['Date'], index_col=['Date'],
                                infer_datetime_format=True)

ff_portfolio_data = ff_portfolio_data.to_period('M')
ff_portfolio_data

,Food,Mines,Oil,Clths,Durbl,Chems,Cnsum,Cnstr,Steel,FabPr,Machn,Cars,Trans,Utils,Rtail,Finan,Other
Date,,,,,,,,,,,,,,,,,
2010-01,-2.06,-12.89,-4.83,-3.47,-3.51,-4.43,-0.44,-2.88,-11.92,-2.98,-7.33,-0.15,-2.11,-4.49,-1.30,-1.07,-4.84
2010-02,1.86,12.38,2.26,6.70,9.94,5.79,1.38,5.90,4.20,7.32,7.31,6.52,5.98,-0.41,3.70,2.70,2.48
2010-03,5.05,7.23,3.21,11.13,5.55,7.50,3.26,5.54,12.03,5.29,7.75,8.87,8.99,3.12,6.46,8.16,6.43
2010-04,-1.29,-0.85,4.31,4.75,6.87,2.48,-1.97,10.86,-2.64,3.43,4.81,6.75,3.06,2.84,1.35,0.92,1.72
2010-05,-4.82,-7.96,-10.11,-5.99,-5.52,-10.57,-6.28,-8.09,-7.02,-9.00,-8.10,-6.89,-7.61,-6.30,-5.72,-9.22,-7.89
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-08,-0.58,-9.78,-3.07,5.00,2.17,-0.45,2.79,2.03,-3.39,2.68,3.48,1.00,0.49,0.75,9.25,2.33,5.56
2018-09,-0.50,-2.29,3.27,0.69,0.94,-3.25,2.64,0.07,-0.82,4.32,0.02,-4.08,3.29,-0.70,0.43,-2.15,0.06
2018-10,-0.16,-9.64,-12.10,-11.19,-12.69,-13.23,-2.54,-14.15,-11.81,-11.99,-11.32,-1.11,-10.21,-0.25,-8.28,-5.73,-8.05
2018-11,3.07,-2.02,-2.41,-0.99,2.77,4.24,4.34,2.81,-3.18,6.44,2.82,4.72,3.71,3.09,2.11,2.65,0.26
2018-12,-9.84,-7.40,-13.35,-7.64,-11.98,-8.16,-7.83,-6.99,-14.97,-11.00,-8.62,-9.24,-13.58,-4.94,-9.81,-11.67,-8.53

In [149]:
prices.isnull().sum()

A         42
AA      1762
AAL       42
AAMC     789
AAN       42
        ...
ZNGA     536
ZOES    1117
ZQK      682
ZTS      817
ZUMZ      42
Length: 3199, dtype: int64

In [150]:
prices = prices.dropna(how='all', axis=1)
prices.isnull().sum()

A         42
AA      1762
AAL       42
AAMC     789
AAN       42
        ...
ZNGA     536
ZOES    1117
ZQK      682
ZTS      817
ZUMZ      42
Length: 3199, dtype: int64

In [151]:
sectors = equities.filter(prices.columns, axis=0).sector.to_dict()
prices = prices.filter(sectors.keys()).dropna(how='all', axis=1)
returns = prices.resample('M').last().pct_change().mul(100).to_period('M')
returns = returns.dropna(how='all').dropna(axis=1)

In [152]:
ff_factor_data = ff_factor_data.drop('RF', axis=1)

In [153]:
mod = LinearFactorModel(portfolios=ff_portfolio_data,
                        factors=ff_factor_data, risk_free=True)
res = mod.fit()
print(res)

                      LinearFactorModel Estimation Summary
================================================================================
No. Test Portfolios:                 17   R-squared:                      0.6946
No. Factors:                          5   J-statistic:                    8.4321
No. Observations:                   108   P-value                         0.6742
Date:                  Tue, Dec 21 2021   Distribution:                 chi2(11)
Time:                          23:53:28
Cov. Estimator:                  robust

                            Risk Premia Estimates
==============================================================================
            Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------
risk_free      1.7358     0.9704     1.7888     0.0736     -0.1661      3.6378
Mkt-RF        -0.6724     1.0435    -0.6444     0.5193     -2.7175      1.3728
SMB            0.7210     0.7894     0.9134     0.3611     -0.8262      2.2683
HML           -1.0233     0.5637    -1.8154     0.0695     -2.1281      0.0815
RMW           -0.5415     0.5935    -0.9124     0.3616     -1.7047      0.6217
CMA           -0.7958     0.4839    -1.6444     0.1001     -1.7442      0.1527
==============================================================================

Covariance estimator:
HeteroskedasticCovariance
See full_summary for complete results

In [154]:
print(res.full_summary)

                      LinearFactorModel Estimation Summary
================================================================================
No. Test Portfolios:                 17   R-squared:                      0.6946
No. Factors:                          5   J-statistic:                    8.4321
No. Observations:                   108   P-value                         0.6742
Date:                  Tue, Dec 21 2021   Distribution:                 chi2(11)
Time:                          23:53:28
Cov. Estimator:                  robust

                            Risk Premia Estimates
==============================================================================
            Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------
risk_free      1.7358     0.9704     1.7888     0.0736     -0.1661      3.6378
Mkt-RF        -0.6724     1.0435    -0.6444     0.5193     -2.7175      1.3728
SMB            0.7210     0.7894     0.9134     0.3611     -0.8262      2.2683
HML           -1.0233     0.5637    -1.8154     0.0695     -2.1281      0.0815
RMW           -0.5415     0.5935    -0.9124     0.3616     -1.7047      0.6217
CMA           -0.7958     0.4839    -1.6444     0.1001     -1.7442      0.1527


                              Food  Coefficients
==============================================================================
            Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------
alpha          0.0919     0.1989     0.4619     0.6442     -0.2980      0.4818
Mkt-RF         0.6964     0.0582     11.973     0.0000      0.5824      0.8103
SMB           -0.2720     0.1128    -2.4118     1.9841     -0.4931     -0.0510
HML           -0.3143     0.1419    -2.2148     1.9732     -0.5924     -0.0362
RMW            0.3822     0.1325     2.8846     0.0039      0.1225      0.6419
CMA            0.5534     0.1696     3.2633     0.0011      0.2210      0.8858


                              Mines Coefficients
==============================================================================
alpha         -0.4475     0.4470    -1.0011     1.6832     -1.3237      0.4287
Mkt-RF         1.2142     0.1679     7.2325     0.0000      0.8851      1.5432
SMB            0.2607     0.2839     0.9184     0.3584     -0.2957      0.8171
HML            0.2547     0.3097     0.8222     0.4110     -0.3524      0.8618
RMW            0.2327     0.4058     0.5734     0.5664     -0.5627      1.0281
CMA            0.5150     0.4961     1.0381     0.2992     -0.4574      1.4874


                              Oil   Coefficients
==============================================================================
alpha         -0.0196     0.3095    -0.0633     1.0504     -0.6262      0.5870
Mkt-RF         1.0472     0.0932     11.238     0.0000      0.8646      1.2298
SMB            0.2605     0.1743     1.4948     0.1350     -0.0811      0.6022
HML            0.4853     0.1934     2.5091     0.0121      0.1062      0.8644
RMW           -0.1138     0.2503    -0.4545     1.3506     -0.6044      0.3768
CMA            0.5089     0.2980     1.7076     0.0877     -0.0752      1.0929


                              Clths Coefficients
==============================================================================
alpha         -0.0543     0.2677    -0.2027     1.1606     -0.5789      0.4704
Mkt-RF         0.9501     0.0996     9.5365     0.0000      0.7548      1.1453
SMB            0.3932     0.1658     2.3721     0.0177      0.0683      0.7181
HML           -0.2264     0.1897    -1.1936     1.7674     -0.5982      0.1454
RMW            0.5559     0.2504     2.2201     0.0264      0.0651      1.0467
CMA            0.0004     0.2771     0.0013     0.9990     -0.5428      0.5435


                              Durbl Coefficients
==============================================================================
alpha         -0.1586     0.2867    -0.5532     1.4199     -0.7204      0.4033
Mkt-RF         1.1682     0.0690     16.930     0.0000      1.0330      1.3035
SMB            0.4980     0.1112     4.4771     0.0000      0.2800      0.7160
HML            0.0578     0.1368     0.4225     0.6726     -0.2103      0.3258
RMW            0.5164     0.1791     2.8831     0.0039      0.1653      0.8675
CMA           -0.0362     0.2326    -0.1555     1.1236     -0.4920      0.4197


                              Chems Coefficients
==============================================================================
alpha          0.0839     0.3160     0.2655     0.7907     -0.5355      0.7033
Mkt-RF         1.2788     0.1004     12.735     0.0000      1.0820      1.4756
SMB            0.2113     0.1348     1.5671     0.1171     -0.0530      0.4755
HML            0.2050     0.1374     1.4921     0.1357     -0.0643      0.4743
RMW            0.1078     0.1882     0.5728     0.5668     -0.2611      0.4767
CMA           -0.1806     0.2450    -0.7374     1.5391     -0.6608      0.2995


                              Cnsum Coefficients
==============================================================================
alpha          0.0422     0.2351     0.1796     0.8574     -0.4185      0.5030
Mkt-RF         0.7639     0.0586     13.039     0.0000      0.6491      0.8788
SMB           -0.3220     0.1024    -3.1452     1.9983     -0.5227     -0.1214
HML           -0.4971     0.1105    -4.4983     2.0000     -0.7138     -0.2805
RMW            0.0562     0.1426     0.3938     0.6938     -0.2234      0.3358
CMA            0.5963     0.1972     3.0236     0.0025      0.2098      0.9828


                              Cnstr Coefficients
==============================================================================
alpha          0.3107     0.3972     0.7823     0.4341     -0.4678      1.0893
Mkt-RF         1.1225     0.0828     13.557     0.0000      0.9602      1.2848
SMB            0.4290     0.1239     3.4609     0.0005      0.1860      0.6719
HML            0.0424     0.1755     0.2415     0.8092     -0.3017      0.3864
RMW           -0.0130     0.2062    -0.0632     1.0504     -0.4171      0.3911
CMA            0.2305     0.2491     0.9250     0.3550     -0.2579      0.7188


                              Steel Coefficients
==============================================================================
alpha          0.0166     0.2799     0.0593     0.9527     -0.5321      0.5653
Mkt-RF         1.4505     0.1142     12.705     0.0000      1.2267      1.6742
SMB            0.4295     0.2212     1.9421     0.0521     -0.0040      0.8631
HML            0.4501     0.2494     1.8050     0.0711     -0.0386      0.9389
RMW            0.1949     0.3140     0.6206     0.5348     -0.4206      0.8104
CMA            0.3899     0.3751     1.0394     0.2986     -0.3453      1.1251


                              FabPr Coefficients
==============================================================================
alpha          0.0954     0.2697     0.3537     0.7236     -0.4332      0.6240
Mkt-RF         1.0963     0.0632     17.340     0.0000      0.9724      1.2202
SMB            0.4054     0.0983     4.1247     0.0000      0.2127      0.5980
HML           -0.0076     0.1234    -0.0616     1.0491     -0.2495      0.2343
RMW            0.1986     0.1440     1.3795     0.1678     -0.0836      0.4809
CMA            0.2223     0.1910     1.1639     0.2445     -0.1521      0.5967


                              Machn Coefficients
==============================================================================
alpha         -0.2912     0.2353    -1.2374     1.7841     -0.7524      0.1700
Mkt-RF         1.1716     0.0562     20.840     0.0000      1.0615      1.2818
SMB            0.1606     0.0923     1.7387     0.0821     -0.0204      0.3416
HML            0.0678     0.1040     0.6520     0.5144     -0.1360      0.2716
RMW            0.0734     0.1547     0.4745     0.6351     -0.2298      0.3766
CMA           -0.4403     0.1645    -2.6773     1.9926     -0.7626     -0.1180


                              Cars  Coefficients
==============================================================================
alpha         -0.1013     0.3881    -0.2611     1.2060     -0.8620      0.6593
Mkt-RF         1.1037     0.1000     11.036     0.0000      0.9077      1.2997
SMB            0.4599     0.1347     3.4132     0.0006      0.1958      0.7240
HML            0.0890     0.1637     0.5439     0.5865     -0.2317      0.4098
RMW           -0.0952     0.2060    -0.4622     1.3561     -0.4990      0.3086
CMA            0.1930     0.3011     0.6412     0.5214     -0.3971      0.7831


                              Trans Coefficients
==============================================================================
alpha          0.5096     0.2666     1.9118     0.0559     -0.0128      1.0321
Mkt-RF         1.0803     0.0501     21.575     0.0000      0.9822      1.1785
SMB            0.2178     0.0940     2.3163     0.0205      0.0335      0.4020
HML            0.0410     0.1233     0.3324     0.7396     -0.2007      0.2827
RMW            0.4170     0.1583     2.6347     0.0084      0.1068      0.7271
CMA            0.2405     0.1889     1.2737     0.2028     -0.1296      0.6107


                              Utils Coefficients
==============================================================================
alpha         -0.1932     0.2325    -0.8308     1.5939     -0.6489      0.2626
Mkt-RF         0.4685     0.0820     5.7117     0.0000      0.3078      0.6293
SMB           -0.1462     0.1484    -0.9854     1.6756     -0.4370      0.1446
HML           -0.2849     0.1699    -1.6766     1.9064     -0.6180      0.0481
RMW            0.2642     0.1853     1.4258     0.1539     -0.0990      0.6275
CMA            0.5930     0.2678     2.2146     0.0268      0.0682      1.1178


                              Rtail Coefficients
==============================================================================
alpha          0.0901     0.1944     0.4632     0.6433     -0.2910      0.4712
Mkt-RF         0.9444     0.0669     14.112     0.0000      0.8132      1.0756
SMB            0.0579     0.1032     0.5614     0.5745     -0.1444      0.2603
HML           -0.4089     0.1236    -3.3085     1.9991     -0.6511     -0.1667
RMW            0.5806     0.1740     3.3361     0.0008      0.2395      0.9216
CMA            0.1991     0.1705     1.1678     0.2429     -0.1350      0.5332


                              Finan Coefficients
==============================================================================
alpha          0.1305     0.2736     0.4768     0.6335     -0.4058      0.6667
Mkt-RF         1.0493     0.0368     28.479     0.0000      0.9771      1.1215
SMB            0.0176     0.0796     0.2212     0.8249     -0.1384      0.1736
HML            0.7777     0.0832     9.3493     0.0000      0.6146      0.9407
RMW           -0.4498     0.0994    -4.5229     2.0000     -0.6447     -0.2549
CMA           -0.4926     0.1051    -4.6889     2.0000     -0.6986     -0.2867


                              Other Coefficients
==============================================================================
alpha         -0.1052     0.1884    -0.5586     1.4235     -0.4744      0.2640
Mkt-RF         1.0386     0.0221     47.054     0.0000      0.9953      1.0818
SMB           -0.0996     0.0376    -2.6526     1.9920     -0.1732     -0.0260
HML           -0.2024     0.0371    -5.4591     2.0000     -0.2751     -0.1297
RMW           -0.0565     0.0579    -0.9760     1.6709     -0.1701      0.0570
CMA           -0.0400     0.0597    -0.6697     1.4969     -0.1569      0.0770
==============================================================================

Covariance estimator:
HeteroskedasticCovariance
See full_summary for complete results

In [155]:
ff_portfolio_data.columns = ff_portfolio_data.columns.str.replace(' ', '')
results = []

for i, col_name in enumerate(ff_portfolio_data.columns):
    target = ff_portfolio_data[[col_name]]  
    
    X_train, X_test, Y_train, Y_test = train_test_split(ff_factor_data, target, test_size=0.2, random_state=5)
    
    regression = LinearRegression()
    regression.fit(X_train, Y_train)
    Y_pred = regression.predict(X_test)
    
    score = regression.score(X_test, Y_test)
    mse = mean_squared_error(Y_test, Y_pred)
    mae = mean_absolute_error(Y_test, Y_pred)
    
    results.append([col_name, score,mse,mae])
    
results = sorted(results, key=lambda x:x[1], reverse=True)

df = pd.DataFrame(data=results, columns=["Sector", "R-Squared", "Mean squared error (MSE)", "Mean absolute error (MAE)" ])
print(df)

   Sector  R-Squared  Mean squared error (MSE)  Mean absolute error (MAE)
0   Other   0.956698                  0.710454                   0.639631
1   Finan   0.932112                  1.807259                   1.042033
2   Machn   0.874708                  2.892391                   1.325162
3   Cnstr   0.822977                  4.521545                   1.537785
4   Durbl   0.796791                  6.195590                   1.886067
5   Chems   0.792228                 11.518713                   2.246613
6    Cars   0.789458                  9.825780                   2.288240
7   FabPr   0.777208                  7.053776                   2.105577
8     Oil   0.769203                  9.641346                   2.493896
9   Trans   0.722782                  5.430152                   1.926309
10   Food   0.705456                  3.546869                   1.343150
11  Cnsum   0.654053                  4.547634                   1.550425
12  Rtail   0.599534                  4.894920                   1.887917
13  Steel   0.583883                 29.459907                   4.634623
14  Mines   0.349729                 53.412234                   5.700692
15  Utils   0.218311                 10.693563                   2.670575
16  Clths   0.100666                 18.282854                   3.590710

In [156]:
print(df.head(3))

  Sector  R-Squared  Mean squared error (MSE)  Mean absolute error (MAE)
0  Other   0.956698                  0.710454                   0.639631
1  Finan   0.932112                  1.807259                   1.042033
2  Machn   0.874708                  2.892391                   1.325162